[Unit]
Description=Py3c EMA bot trigger for spot BTC USDT
After=multi-user.target

[Service]
Type=simple
WorkingDirectory=/home/pi/Documents/3c-enable-bot-ema
ExecStart=/home/pi/Documents/adx-bot-add-hft-validation-SP/venv/bin/python3 /home/pi/Documents/3c-enable-bot-ema/Py3c-enable-bot-ema-spot.py
Restart=always
RestartSec=30

[Install]
WantedBy=multi-user.target